<%= turbo_stream.append "admin-change-logs-tbody" do %>
  <% @change_logs.each do |log| %>
    <tr class="hover">
      <td class="text-sm"><%= log.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td class="text-sm">
        <%= link_to log.scraped_url.url.truncate(40), admin_scraped_url_path(log.scraped_url), class: "link link-primary", data: { turbo_frame: "_top" } %>
      </td>
      <td class="text-sm">
        <span class="text-error">-<%= log.changements_detectes["lines_removed"] || 0 %></span>
        /
        <span class="text-success">+<%= log.changements_detectes["lines_added"] || 0 %></span>
        lignes
      </td>
    </tr>
  <% end %>
<% end %>

<%= turbo_stream.replace "admin-change-logs-page-#{params[:page]}" do %>
  <% if @pagy.next %>
    <%= turbo_frame_tag "admin-change-logs-page-#{@pagy.next}",
                        src: admin_change_logs_path(page: @pagy.next, format: :turbo_stream),
                        loading: :lazy do %>
      <div class="text-center py-8">
        <span class="loading loading-spinner loading-md text-primary"></span>
      </div>
    <% end %>
  <% end %>
<% end %>
